@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:wght@600;700;900&display=swap");

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.app {
  .show-more {
    display: none;

    margin: 15px;
    padding: 8px 16px;
    cursor: pointer;

    font-size: 0.96rem;
    font-weight: 500;

    color: #404040;
  }

  .modal {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    align-items: center;
    justify-content: center;

    .details-container {
      display: flex;
      flex-direction: column;

      background-color: #fff;
      width: 70%;

      padding: 15px;
      border-radius: 16px;

      .close-icon-container {
        display: flex;
        justify-content: flex-end;

        .fa-window-close {
          color: #ff5656;
          font-size: 1.6rem;
          cursor: pointer;

          transform: translate(100%, -120%);
        }
      }

      .details-loading {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .sub-details {
        display: none;

        > div {
          width: 50%;
          padding: 2px;
          border-radius: 16px;
          margin: 4px;
          padding: 8px;
        }

        .left-details {
          background-color: rgba(235, 87, 87, 0.05);
          border: 1px solid #eb5757;

          h4 {
            color: #404040;
          }

          .plans-container {
            display: flex;
            justify-content: space-between;
            margin: 15px 0;

            > div {
              width: 30%;
              font-size: 0.6rem;
              font-weight: 600;
              text-align: center;

              padding: 15px;
              border-radius: 16px;

              background-color: #fff;
            }

            .plan-left {
              color: #03a30a;
            }

            .plan-middle {
              color: #f28927;
            }

            .plan-right {
              color: #eb5757;
            }
          }

          .ul-container {
            display: flex;
            justify-content: space-between;

            ul {
              padding-left: 20px;
              padding-top: 8px;
            }

            li {
              font-size: 0.7rem;
              color: #565656;
            }

            .integration-empty-li {
              list-style: none;
              font-size: 0.7rem;
              color: #565656;
            }
          }
        }

        .right-details {
          background-color: #ffffff;
          border: 1px solid #e7e7e7;
          display: flex;
          flex-direction: column;

          .right-img-container {
            display: flex;
            flex-direction: column;

            .accuracy-span {
              align-self: flex-end;

              font-size: 0.6rem;
              color: #fff;
              background-color: #eb5757;
              padding: 6px;
              border-radius: 6px;

              transform: translate(-10%, 10%);
              z-index: 2;
            }

            img {
              width: 100%;
              border-radius: 16px;

              transform: translate(0%, -26px);
              z-index: 1;
            }
          }

          .bottom-img-details-container {
            text-align: center;

            h4 {
              color: #404040;
            }

            p {
              margin-top: 6px;
              margin-bottom: 6px;
              font-size: 0.8rem;
              color: #565656;
            }
          }
        }
      }

      @media screen and (max-width: 767px) {
        width: 98%;
        max-height: 90vh;
        overflow-x: hidden;

        .close-icon-container {
          transform: translate(-10%, 100%);
        }

        .sub-details {
          flex-wrap: wrap;

          > div {
            width: 100%;
          }
        }
      }
    }
  }
}

.app-card {
  width: 300px;
  padding: 15px;
  margin: 15px 0;

  border-radius: 10px;
  background-color: #ebebeb;

  img {
    width: 100%;
  }

  h2,
  h3 {
    font-weight: 500;
    color: #404040;
  }

  hr {
    margin: 15px 0;
  }

  ul {
    margin: 6px 0 0 0;
  }

  li,
  a {
    color: #565656;
  }

  .features-ul {
    padding-left: 20px;
    list-style: decimal;
  }

  .date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

    div {
      display: flex;
      align-items: center;
    }

    i,
    p {
      color: #565656;
      font-size: 0.8rem;
    }

    i {
      margin-right: 5px;
    }

    .fa-arrow-right {
      cursor: pointer;
      color: #ff5656;
    }
  }
}
